# CONTENT

1. Introduction and hypotheses

2. Data 

     2.1. Data loading and transformation
    
     2.2. Data outliers
    
     2.3. Missing values
    
3. Features engineering

    3.1. Hypotheses

    3.2. Hypotheses testing

4. Modeling

5. Conclusion

***

# 1. Introduction and hypotheses

To begin with we load 2 essential packages for data loading, transformation, grouping, calculations etc.
Pandas package depends on NumPy.

In [1]:
import numpy as np
import pandas as pd

Then we load packages to carry out explorations and actual modeling

In [2]:
# Logit models (Logistic Regression)
from sklearn.linear_model import LogisticRegression

***

# 2. Data
## 2.1 Data loading and transformation

Load the data:

In [3]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

In [4]:
#tests2
#check the first rows of train data set (to check if the import was Ok)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#check the first rows of test data set (to check if the import was Ok)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
#train.loc[train['Sex'] == 'male'][:3]
#train_embarked = train['Embarked']
#train.loc[train['Embarked'].isnull()]
#train.loc[train['Cabin'].isnull()]

#if train['Embarked'].

Reclassify all the literal data (except Name; NaN - is not literal, it is Null-value) to numeric to use it in regression models:

In [7]:
# Train data set
train.loc[train['Sex'] == 'male', 'Sex'] = 1
train.loc[train['Sex'] == 'female', 'Sex'] = 0
train.loc[train['Embarked'] == 'S', 'Embarked'] = 0
train.loc[train['Embarked'] == 'C', 'Embarked'] = 0
train.loc[train['Embarked'] == 'Q', 'Embarked'] = 0

# Test data set
test.loc[test['Sex'] == 'male', 'Sex'] = 1
test.loc[test['Sex'] == 'female', 'Sex'] = 0
test.loc[test['Embarked'] == 'S', 'Embarked'] = 0
test.loc[test['Embarked'] == 'C', 'Embarked'] = 0
test.loc[test['Embarked'] == 'Q', 'Embarked'] = 0

## 2.2. Data outliers

## 2.3. Missing values

### Exploring empty data (missing values or NaN)
** - Age**

Check the passengers with the empty age.

In [8]:
#age_nan = train.loc[train.Age.isnull()]
#age_nan[:10]

**Cabins**

Analysis of empty cabins vs passenger class

In [9]:
#cabin_1 = train.loc[train.Cabin.notnull()]
#cabin_1.loc[:,['Pclass', 'Cabin']]

Fill the missing values with our assumptions

In [10]:
# Train data set
train['Age'] = train['Age'].fillna(train['Age'].median())
#train['Embarked'] = train['Embarked'].fillna(2)
train['Embarked'] = train['Embarked'].fillna(1)
train['Fare'] = train['Fare'].fillna(train['Fare'].mean())

# Test data set
test['Age'] = test['Age'].fillna(train['Age'].median())
#test['Embarked'] = test['Embarked'].fillna(2)
test['Embarked'] = test['Embarked'].fillna(1)
test['Fare'] = test['Fare'].fillna(test['Fare'].mean())

***

# 3. Features engineering

## 3.1. Hypotheses

- Possible predictors: 
    * Pclass
    * Sex
    * Age
    * SibSp
    * Parch
    * Fare
    * Embarked
- Pclass and Fare probably correlates with each other (so we shouldn't use these variables together or we will need to substitute these two variables with one derivative variable)
- If a passenger not Embarked (NaN for Embarked) than he could survive
- Since the catastrophe occured in the midnight than the closer Cabin to boats / exits the higher chance to survive

## 3.2. Hypotheses testing

***

# 4. Modeling

In [11]:
predictors = ["Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [12]:
lr = LogisticRegression(random_state=1)
lr.fit(train[predictors], train["Survived"])
predictions = lr.predict(test[predictors])
#accuracy_train = round(lr.score(train[predictors], train["Survived"]) * 100, 2)
#accuracy_test = round(lr.score(test[predictors], test["Survived"]) * 100, 2)
#print(accuracy_train)
#print(accuracy_test)

***

# 5. Conclusion

## Submission

We need to put our csv-file with the results into Kaggle /input directory like so:

In [13]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": predictions
    })
submission.to_csv("submit.csv", index=False)